.message {
}

.message--note {
	display: inline-block;
	margin-bottom: 10px;
	padding: 12px 15px;
	border-radius: 3px;
	background-color: #fff8a5;
	color: black;

	@include media($range-palm) {
		padding: 6px 10px;
		font-size: $font-size-80;
	}
}
