$font-family-sans-serif: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
$font-family-serif: 'Georgia', 'Times', serif;
$font-family-monospace:  'Menlo', 'Consolas', 'Courier', monospace;
$font-family-condensed: $font-family-sans-serif;
